<div class='flex flex-col gap-8'>
  <div class='flex w-3/4'>
    <p class='text-white px-5 font-semibold sm:text-xl md:text-3xl lg:text-5xl'>
      <%= joke.setup %>
    </p>
  </div>
  <div class='flex'>
    <div class='w-3/4'></div>
    <p class='text-white text-end px-5 font-semibold sm:text-sm md:text-xl lg:text-3xl'>
      <%= joke.punchline %>
    </p>
  </div>
</div>
