<div class='container flex justify-between items-center bg-purple-400 px-2 py-20 h-60'>
  <div>
    <%= button_to('<', joke_path(position.previous_value), method: :get, form_class: 'contents', class: 'btn-primary') %>
  </div>
  <%= render(partial: "jokes/#{joke.format}_joke", locals: { joke: joke }) %>
  <div>
    <%= button_to('>', joke_path(position.next_value), method: :get, form_class: 'contents', class: 'btn-primary') %>
  </div>
</div>
