<div class='container flex justify-between items-center bg-purple-400 px-2 py-20'>
  <div>
    <%= button_to('<', joke_path(1), method: :get, form_class: 'contents', class: 'btn-primary') %>
  </div>
  <div class='flex flex-col gap-8'>
    <div class='flex w-3/4'>
      <p class='text-white px-5 font-semibold sm:text-xl md:text-3xl lg:text-5xl'>
        To whoever stole my copy of Microsoft Office. 
      </p>
    </div>
    <div class='flex'>
      <div class='w-3/4'></div>
      <p class='text-white text-end px-5 font-semibold sm:text-sm md:text-xl lg:text-3xl'>
        I will find you. You have my Word!
      </p>
    </div>
  </div>
  <div>
    <%= button_to('>', joke_path(2), method: :get, form_class: 'contents', class: 'btn-primary') %>
  </div>
</div>
